<nav class="navbar navbar-dark bg-danger" style="margin-top: 200px; margin-bottom: 20px;">
    <a href="" class="navbar-brand" style="margin-left: 40%;">Angular With Forms Binding Amount Range</a>
</nav>

<section style="margin-bottom: 200px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <p class="h4">Amount Range</p>
                    </div>
                    <div class="card-body">
                        <form action="">
                            <label for="">Amount :</label>
                            <input type="range" class="form-range" min="5000" max="500000" name="amount"
                                [(ngModel)]="amount">
                            <div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>{{5000 | currency:'INR':'symbol'}}</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p style="text-align: right;">{{amount | currency:'INR':'symbol'}}</p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>